.HeaderGroup {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 40px;
    max-width: 1160px;
    margin: 0 auto;
  }
  
  .HeaderGroup a:hover {
    color: #6600ff;
  }
  
  .HeaderGroup a:focus {
    color: #6600ff;
  }
  
  .HeaderGroup a:active {
    color: #6600ff;
  }
  
  .SiteTitle {
    font-weight: 900;
    font-size: 18px;
    color: #10051d;
    text-decoration: none;
  }
  
  .SiteNav {
    display: inline-block;
    padding: 30px 0;
  }
  
  .SiteNav a {
    color: #10051d;
    text-decoration: none;
    
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px;
  }
  
  @media only screen and (max-width: 800px) {
    .HeaderGroup {
      padding: 0 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .HeaderGroup {
      grid-template-columns: 1fr;
      justify-items: left;
      margin-top: 20px;
    }
  
    

    .SiteTitleContainer h1 {
      margin-top: 4px;
      margin-bottom: 8px;
    }
  
    .SiteNav {
      padding-top: 10px;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
    }
  
    .SiteNav a {
      margin-left: 0;
      text-decoration: underline;
    }
  }
  