@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

html,
body {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #10051d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  animation: EnterAnimation 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.CoverContainer {
  width: calc(100vw - 120px);
  margin: 0 auto; 
}

.GrayJacketBg {
  z-index: -1;
  background-color: #f4f4f4;
  position: fixed;
  top:80px;
  left: 30px;
  right: 30px;
  height: calc(100vh - 110px);

  
}

@keyframes EnterAnimation {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.H1AndSocialLinkLogos {
  margin-top: 20vh;
}

.SmallH1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  color: #6600ff;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.HugeH1 {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 96px;
  font-weight: 900;
  color: #10051D;
  letter-spacing: -1.6px;
  margin-top: 0;
  margin-left: -4px;
  margin-bottom: 24px;
  line-height: 0.9;
}

.SocialLinkLogo {
  margin-right: 16px;
}

.HelloAndStatsAtBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20.5vh;
  align-items: end;
}

.HelloAtBottom {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  padding-right: 32px;
}

.StatsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 48px;
  justify-items: end;
}

.Stat {
  max-width: 136px;
}

.StatNumber {
  font-size: 36px;
  color: #6600ff;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  
}

.StatNumberBold {
  font-weight: 800;
}

.StatNumberLight {
  font-weight: 200;
}

.StatDesc {
  font-size: 14.4px;
  /* reduced the font size just a lil bit from 15 everywhere 
  because it was jussting out with lesser line ht here */
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 2px;
  color: #10051D;
  
}


/* Making everything mobile responsive */

@media only screen and (max-width: 480px) {
  .GrayJacketBg {
    top: 100px;
    left: 0;
    right: 0;
    height: calc(148vh);
  }

  .CoverContainer {
    width: calc(100vw - 40px);
  }

  .H1AndSocialLinkLogos {
    margin-top: 16vh;
  }

  .SmallH1 {
    font-size: 14px;
    letter-spacing: 0;
  }

  .HugeH1 {
    font-size: 72px;
    margin-bottom: 36px;
    margin-left: -2px;
  }

  .SocialLinkLogo {
    width: 28px;
    margin-right: 20px;
  }

  .HelloAndStatsAtBottom {
    display: block;
    margin-top: 12vh;
    align-items: end;
  }

  .StatsContainer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    padding: 48px 0;
    grid-row-gap: 48px;
  
  }

  .StatNumber {
    font-size: 32px;
  }

}


/* Making it work for Tablet - Portrait mode */

@media only screen 
  and (min-device-width: 720px) 
  and (max-device-width: 1023px) 
  and (orientation: portrait) {

    .GrayJacketBg {
      top: 80px;
      left: 30px;
      right: 30px;
      height: calc(100vh - 110px);
    }
  
    .CoverContainer {
      width: calc(100vw - 120px);
    }
  
    .H1AndSocialLinkLogos {
      margin-top: 24vh;
    }
  
    .SmallH1 {
      font-size: 15px;
      letter-spacing: 1.2px;
    }
  
    .HugeH1 {
      font-size: 92px;
      margin-bottom: 36px;
      margin-left: -2px;
    }
  
    .SocialLinkLogo {
      width: 32px;
      margin-right: 20px;
    }
  
    .HelloAndStatsAtBottom {
      margin-top: 18vh;
      align-items: start;
    }

    .HelloAtBottom {
      margin-top: -4px;
      padding-right: 32px;
    }

    .StatsContainer {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 48px;
      justify-items: center;
      grid-gap: 32px
    }

    .StatNumber {
      font-size: 32px;
    }
}